<div class="p-5">
<div class="table-responsive">
    <table class="table table_user mb-0" style="border: 1px solid #d7d3d3;border-bottom: 0;">
        <tbody>
            <tr>
                <!-- <td class="hide-xs"> -->
                <!-- <td class="" >
                    <input type="text" placeholder="Search" class="inventory_search" ng-model="search.city_name" style="float: right;
                    border-radius: 16px;
                    width: 165px;">
                </td> -->
                <td style="width: 600px;"></td>
                <!-- <td class="hide-xs" style="width: 170px;"> -->
                    <td class="" style="width: 170px;">
                    <md-datepicker class="form-control adjust_calender" name="startDate" ng-model="product.start_date"
                        onkeydown="return false" md-placeholder="From" layout-fill
                        style="border: none;padding: 0px;"></md-datepicker>
                </td>
                <!-- <td class="hide-xs" style="width: 170px;"> -->
                    <td class="" style="width: 170px;">
                    <md-datepicker class="form-control adjust_calender" name="endDate" ng-model="product.end_date"
                        onkeydown="return false" md-placeholder="To" md-min-date="product.start_date"
                        layout-fill style="border: none;padding: 0px;"></md-datepicker>
                </td>
                <td style="width: 120px;">
                        <button class="s-btn-toggler login_btn sign_in" style="border: unset;border-radius: 20px;margin-top: 2px;padding: 5px !important;" type="button"> <i class="fa fa-download" aria-hidden="true" style="padding-right: 5px;"></i> Download PDF</button>
                </td>
                <!-- <td></td> -->
            </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive" style="margin-bottom:50px !important">
    <table class="table" style="border: 1px solid #e4e4e4;">
        <thead class="text_color">
            <tr>
                <th class="adjust_space">Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>User Type</th>
                <th class="adjust_space">Company</th>
                <th class="">Activated</th>
            </tr>
        </thead>
        <tbody class="contbg">
            <tr>
                <td>Anil Kumar</td>
                <td>Chetu.anilk3@gmail.com	</td>
                <td>9560193792</td>
                <td>User</td>
                <td>Testing	</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Venkat</td>
                <td>Venkatkinds@gmail.com	</td>
                <td>9567774512</td>
                <td>User</td>
                <td>People tech group</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Raju</td>
                <td>Vnskraju9@gmail.com	@gmail.com	</td>
                <td>9550193802</td>
                <td>User</td>
                <td>Testing	</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Deekshith</td>
                <td>Deekshithabhupathi500gmail.com	</td>
                <td>9568293792</td>
                <td>Owner</td>
                <td>Seller	</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Anil Kumar</td>
                <td>Chetu.anilk3@gmail.com	</td>
                <td>9560193792</td>
                <td>User</td>
                <td>Testing	</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Deeksha</td>
                <td>Deeksha.ptg123@gmail.com	</td>
                <td>9568541792</td>
                <td>User</td>
                <td>People Tech group	</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Bharath</td>
                <td>bharath.basireddy@gmail.com	</td>
                <td>9560193792</td>
                <td>User</td>
                <td>Testing	</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Shiva Karna</td>
                <td>Shivakarna4013@gmail.com</td>
                <td>8515467889</td>
                <td>User</td>
                <td>Testing	</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Rama</td>
                <td>Rama1998@gmail.com	</td>
                <td>8500245612</td>
                <td>Owner</td>
                <td>Vsolutions</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Sravani Yelesam</td>
                <td>Sravani.yelesamtest@gmail.com	</td>
                <td>9560193792</td>
                <td>User</td>
                <td>Testing	</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Sandhya</td>
                <td>Sandhya@gmail.com	</td>
                <td>7892456661</td>
                <td>User</td>
                <td>Vsolutions</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Sonvendra</td>
                <td>Sonvendra@gmail.com	</td>
                <td>8552814587</td>
                <td>User</td>
                <td>PeopleTech Group</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Nagaraj</td>
                <td>nagaraj@gmail.com	</td>
                <td>8500124578</td>
                <td>User</td>
                <td>People Tech Group</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Manoj</td>
                <td>manoj@gmail.com	</td>
                <td>9898451263</td>
                <td>User</td>
                <td>PeopleTech Group</td>
                <td>Yes</td>
            </tr>
        </tbody>
    </table>
</div>
</div>