<div class="mt-5 container-fluid">
	<div class="account_holder">
		<div class="ac_holder_header d-flex justify-content-start">
			<h4>My Account</h4>
		</div>

		<div class="pt-4 ac_holder_details">
			<div class="ac_holder_information">
				<div class="table-responsive">
				<table class="table table-borderless">
					<tbody>
						<tr>
							<th>Your Name</th>
							<td>James</td>
						</tr>
						<tr>
							<th>Company Name</th>
							<td>Landmark OOH</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>james@llandmarkooh.com</td>
						</tr>
						<tr>
							<th>Mobile</th>
							<td>429 - 235 - 4890</td>
						</tr>
						<tr>
							<th>Password</th>
							<td>********</td>
						</tr>
						<tr>
							<th></th>
							<td><a href="#" class="change_pswd">Change Password</a></td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>