<style>
    .unReadNotifications {
        background-color: #f2f3f2;
    }
</style>
<div layout="column" layout-padding>
    <div class="container pt-3">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
                <button type="button" class="btn btn-link back-btn" onclick="goBack()">
                    << Back</button>
            </div>
        </div>
    </div>
    <p class="text_color md-title">Notifications</p>
    <div class="col-sm-3">
        <md-button ng-disabled="bulkSelect || (selectedids && !selectedids.length)" class="md-raised all_button"
            ng-click="bulkUplodData()">
            Mark Notification As Read
        </md-button>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead class="text_color">
                <tr>
                    <th><input type="checkbox" ng-model="$root.selectAllChk" ng-click="selectAll($event, selectAllChk)">
                        Select Unread</th>
                    <th>Details</th>
                    <th>Action</th>
                    <th class="text-right">Date Entered
                        <span class="d-inline"
                            ng-class="'created_at' == upArrowColour && sortType == 'Asccrfqaccao'?'highlight': 'nonhighlight'"
                            ng-click='sortAsccrfqaccao("created_at","string")'><i class="fas fa-arrow-up"></i>
                        </span>
                        <span class="d-inline"
                            ng-class="'created_at' == downArrowColour && sortType == 'Dsccrfqaccao'?'highlight': 'nonhighlight'"
                            ng-click='sortDsccrfqaccao("created_at","string")'><i class="fas fa-arrow-down"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notifictaion in getOwnerNotifictaionss"
                    ng-class="{unReadNotifications : notifictaion.status == 0}">
                    <td class="table_vertical"><input type="checkbox" ng-model="notifictaion.valueChecked"
                            ng-click="selectSingle(notifictaion.id,notifictaion.status)"></td>
                    <td class="table_vertical">{{notifictaion.message }}</td>
                    <td class="table_vertical notifications_eye">

                        <a style="cursor:pointer;" ng-if="notifictaion.type == 'campaign'"
                            ng-click="updateNotifyStatus(notifictaion.type,notifictaion.campaign_id,notifictaion.id)">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
                        <a style="cursor:pointer;" ng-if="notifictaion.type == 'product'"
                            ng-click="updateNotifyStatus(notifictaion.type,notifictaion.campaign_id,notifictaion.id)">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
                        <a style="cursor:pointer;" ng-if="notifictaion.type == 'product-request'"
                            ng-click="updateNotifyStatus(notifictaion.type,notifictaion.campaign_id,notifictaion.id)">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
                        <a style="cursor:pointer;" ng-if="notifictaion.type == 'offer_request'"
                            ng-click="updateNotifyStatus(notifictaion.type,notifictaion.campaign_id,notifictaion.id)">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
						<a style="cursor:pointer;" ng-if="notifictaion.type == 'campaign_product_offer'"
                            ng-click="updateNotifyStatus(notifictaion.type,notifictaion.campaign_id,notifictaion.id)">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
						<a style="cursor:pointer;" ng-if="notifictaion.type == 'bulk_upload'"
                            ng-click="updateNotifyStatus(notifictaion.type,notifictaion.campaign_id,notifictaion.id)" ng-href="/owner/{{clientSlug}}/hoarding-list">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
						<a style="cursor:pointer;" ng-if="notifictaion.type == 'bulk_upload_pending'"
                            ng-click="updateNotifyStatus(notifictaion.type,notifictaion.campaign_id,notifictaion.id)">
                        </a>
						<a style="cursor:pointer;" ng-if="notifictaion.type == 'product_transfer'"
                            ng-click="updateNotifyStatus(notifictaion.type,notifictaion.campaign_id,notifictaion.id)" ng-href="/owner/{{clientSlug}}/hoarding-list">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
                    </td>
                    <td class="table_vertical text-right text_color">{{notifictaion.created_at | dateFormat}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<style>
    .highlight {
        color: black;
    }

    .nonhighlight {
        color: #808080c2;
    }
</style>