<div class="bbi__about contbg">
    <section class="product_sec">
        <div class="container">
        <!-- <div class="user_container py-lg-5 py-md-4 py-sm-4 py-3"> --> 
            <div>
                <div class="container pt-3">
                    <div class="row">
                      <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
                        <button type="button" class="btn btn-link back-btn" onclick="goBack()"> << Back</button>
                      </div>
                    </div>
                  </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title pb-5 pt-5 heading_3 about_head">About AMP</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="about_text">
                        <p>AMP is a marketplace that allows users to sell and buy just about any Advertising Media in a variety of formats, prices and locations. The contract for sale is directly with AMP. However, AMP is not a traditional auctioneer.</p>
                    </div>
                    <div class="about_text pt-4">
                        <p>Any guidance we provide as part of services, such as pricing, packing, listing, and or sourcing is solely information and you may decide to follow it or not. Also, While we may help facilitate the resolution of issues through various programs, AMP has no control over and does not guarantee: </p>
                    </div>
                    <div class="about_text pt-4">
                        <ul>
                            <li>the existence, quality, safety or legality of items advertised;</li>
                            <li>the truth and accuracy of users’ content or listings;</li> 
                            <li>the ability of sellers to sell items;</li>
                            <li>the ability of buyers to buy the items;</li> 
                            <li>or that a buyer or seller will actually complete a transaction or return media.</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="about_text">
                        <p>Our first and foremost goal is stellar-customer experience and providing our clients the ability to manage their inventory and campaigns at the touch of a button i.e., making sure the client is in control with the help of our cutting-edge technology.</p>
                    </div>
                </div>
            </div>
            
            
            
            <!-- <div class="">
                <p class="paragraph _para">AMP is a marketplace that allows users to sell and buy just about any Advertising Media in a variety of formats, prices and locations. The contract for sale is directly with AMP. However, AMP is not a traditional auctioneer.</p>
                <p class="paragraph _para">Any guidance we provide as part of services, such as pricing, packing, listing, and or sourcing is solely information and you may decide to follow it or not. Also, While we may help facilitate the resolution of issues through various programs, AMP has no control over and does not guarantee: </p>
            </div>
            <h5 class="mt-5 mb-2 heading_3"><b style="color:#000;">Goal:</b></h5>
            <div class="">
                <p class="paragraph _para">Our first and foremost goal is stellar-customer experience and providing our clients the ability  to manage their inventory and  campaigns at the touch of a button i.e. making sure the client is in control  with the help of our  cutting-edge technology.</p>
                <ul>
                    <li>the existence, quality, safety or legality of items advertised;</li>
                    <li>the truth and accuracy of users’ content or listings;</li> 
                    <li>the ability of sellers to sell items;</li>
                    <li>the ability of buyers to buy the items;</li> 
                    <li>or that a buyer or seller will actually complete a transaction or return media.</li>
                </ul>
            </div> -->



        </div>
        </div>
    </section>
    <div class="float-right globe_img pt-4 pb-4 pr-3 mt-4 mb-4">
        <img src="assets/images/globe_shape.svg"  width="376px" alt="globe-logo" />
    </div>

    <!-- blog -->
    <!-- <section class="blog_mob-temsls py-5" id="blog">
        <div class="container py-xl-5 py-lg-3">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card border-0 med-blog">
                        <div class="card-header p-0">
                            <a href="#">
                                <img class="card-img-bottom" src="/assets/images/Team_1.png" alt="image">
                            </a>
                        </div>
                        <div class="card-body border border-top-0">
                            <div class="mb-3">
                                <h5 class="text-center blog-title card-title font-weight-bold m-0">Our Team
                                </h5>
                            </div>
                            <p class="text-center">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <div id="wrapper" class="text-center">
                                <md-button type="" ng-href="/ourteam" class="btn btn-danger button_about">Our Team</md-button>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-lg-0 mt-md-0 mt-2">
                    <div class="card border-0 med-blog">
                        <div class="card-header p-0">
                            <a href="#">
                                <img class="card-img-bottom" src="/assets/images/Careers_1.png" alt="image">
                            </a>
                        </div>
                        <div class="card-body border">
                            <div class="mb-3">
                                <h5 class="text-center blog-title card-title font-weight-bold m-0">Careers
                                </h5>
                            </div>
                            <p class="text-center">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <div id="wrapper" class="text-center">
                                <md-button type="" ng-href="/joincareers" class="btn btn-danger button_about">Join Team</md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-lg-0 mt-md-0 mt-2">
                    <div class="card border-0 med-blog">
                        <div class="card-header p-0">
                            <a href="#">
                                <img class="card-img-bottom" src="/assets/images/Services_1.png" alt="image">
                            </a>
                        </div>
                        <div class="card-body border border-top-0">
                            <div class="mb-3">
                                <h5 class="text-center blog-title card-title font-weight-bold m-0">
                                    Services
                                </h5>
                            </div>
                            <p class="text-center">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <div id="wrapper" class="text-center">
                                <md-button type="" ng-href="/fullservices" class="btn btn-danger button_about">Full Services</md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</div>
