<md-dialog flex="50" flex-lg="50" flex-md="60" flex-xs="100" flex-sm="70"
	style="border-radius: 0; max-width: 80% !important; position: fixed;" ng-class="{'layout-fill':mdMedia('xs')  }">
	<md-dialog-content>
		<div class="pop_close_btn">
			<button class="md-icon-button product_closebtn" aria-label="Close Side Panel" ng-click="closeMdDialog()">
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>
		</div>
		<!-- <div id="productImage" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img ng-src="{{img_src_0}}" alt="product image"  style="width:100%;height:500px;padding: 10px 10px;">
			  </div>
			</div>		  
		</div> -->
		<div class="container-fluid">
			<div class="row">			
				<div class="col-sm-12">
					<img ng-src="{{ getImageUrl(specDetails.image) }}" alt="product image" style="width: 100%;
					/* height: 92%; */
					padding: 20px 0px;
					margin-top: 33px;">
				</div>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>