<div class="faq_main cont_bg">
        <section class="product_sec">
          <div class="container">
          <!-- <div class="user_container py-lg-5 py-md-4 py-sm-4 py-3"> -->
          <div>
            <!-- <div class="row">
              <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                  <h3 class="title pb-5 pt-5 heading_3 Listing_Policies">Listing Policies</h3>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 col-xs-12">
                <h3 class="title pb-5 pt-5 heading_3 Listing_Policies">Listing Policies</h3>
                <div class="listing_text">
                  <p>To make sure buyers have a great experience when they buy from you, we've put in place some rules and guidelines for listing items on AMP.</p>
                </div>
                <div class="listing_text">
                  <p>Find out everything you need to know about what's allowed in listings, as well as information on how to have an easier and more successful selling experience, in our detailed policy guidelines below.</p>
                </div>
                <div class="pt-3">
                  <div class="listing_text_info pt-3">
                    <p class="for_line_listingpolicy txt_1">Images and text policy</p>
                    <p class="txt_2">To make sure you're giving potential buyers an accurate representation of your items, and that you're not infringing on anyone else's content rights, you should write your own descriptions and use your own images.</p>
                  </div>
                  <div class="listing_text_info pt-3">
                    <p class="for_line_listingpolicy txt_1">No item listings policy</p>
                    <p class="txt_2">All listings on AMP have to offer a physical item or a tangible service. Listings that are blank, or don't offer a tangible item or service, aren't allowed because they can cause confusion for buyers and increase the risk of fraud.</p>
                  </div>
                  <div class="listing_text_info pt-3">
                    <p class="for_line_listingpolicy txt_1">Search and browse manipulation policy</p>
                    <p class="txt_2">Learn why it's not allowed to manipulate AMP search and browse experience by adding popular keywords in your listings that don't have any relation to your items.</p>
                  </div>
                  <div class="listing_text_info pt-3">
                    <p class="for_line_listingpolicy txt_1">Item location misrepresentation policy</p>
                    <p class="txt_2">To make sure buyers have a clear understanding of all charges and delivery times, all sellers must provide clear and accurate information in their listings about where their item is located.</p>
                  </div>
                  <div class="listing_text_info pt-3">
                    <p class="for_line_listingpolicy txt_1">Warranties policy</p>
                    <p class="txt_2">Offering your customers a guarantee or warranty gives them peace of mind when they buy from you, and can help give you an edge on the competition.</p>
                  </div>
                  <div class="listing_text_info pt-3">
                    <p class="for_line_listingpolicy txt_1">JavaScript policy</p>
                    <p class="txt_2">Active content in listings can create a poor experience by increasing page load times and introducing security risks. That's why it's not allowed in listings on AMP.</p>
                  </div>
                  <div class="listing_text_info pt-3">
                    <p class="for_line_listingpolicy txt_1">Links policy</p>
                    <p class="txt_2">Find out why we don't allow listings to contain links that direct customers to a site other than AMP.</p>
                  </div>
                  <div class="listing_text_info pt-3">
                    <p class="for_line_listingpolicy txt_1">Third-party endorsements policy</p>
                    <p class="txt_2">Understand why we don't allow the use of third-party statements or logos that vouch for a seller's 'reputation' or 'trustworthiness' in AMP listings.</p>
                  </div>
                  <div class="listing_text_info pt-3">
                    <p class="for_line_listingpolicy txt_1">Duplicate listings policy</p>
                    <p class="txt_2">Only one fixed price listing of an identical item can be listed at the same time, from the same seller. This is to ensure buyers see a wide variety of options from multiple sellers.</p>
                  </div>
                  <div class="listing_text_info pt-3">
                    <p class="for_line_listingpolicy txt_1">Pre-sale listings policy</p>
                    <p class="txt_2">To ensure buyers aren't disappointed, our pre-sale listings policy for items like cell phones and video games outlines the requirements for this type of transaction.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-xs-12">
                <div class="frequently_asked">
                  <p>Frequently Asked Questions</p>
                </div>
                <div class="questions">
                  <ul>
                    <li class="question">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <p>1. I'm not sure whether the item I'm selling is allowed on
                      AMP. Where can I learn more?</p>
                    </li>
                    <li class="answ">
                      <p>There are some items that, due to legal restrictions or AMP rules, we don't allow or that can only be listed under certain conditions. If you're not sure whether your item is allowed, our Prohibited and restricted items policy has more details on what you can and can't sell.</p>
                    </li>

                    <li class="question">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <p>2. Why was my listing removed?</p>
                    </li>
                    <li class="answ">
                      <p>To keep AMP a safe place, sometimes we remove listings that violate our policies. If we remove your listing, we'll send you an email to your Messages and to your registered email address explaining why.</p>
                    </li>

                    <li class="question">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <p>3. I can't find my listings on the site. What's happened?</p>
                    </li>
                    <li class="answ">
                      <p>If you can't find your listings they may have been removed if they violated one of our policies. However, if you haven't received an email from us about removing your listings, it's possible they're just not ranking high up in search results.</p>
                      <p class="pt-2">To help improve your search ranking, be as descriptive as possible when you create your listings. Write a clear title and description, list your item in the right category, and fill out all item specifics suggested for your item.</p>
                    </li>
                  </ul>
                </div>
            </div>
            </div>
          </div>
         </div>
        </section>
       
      <div class="float-right globe_img pt-4 pb-4 pr-3 mt-4 mb-4">
        <img src="assets/images/globe_shape.svg"  width="376px" alt="globe-logo" />
      </div>
        <!-- <section class="pb-3" >
            <div class="user_container">
                <h5>To make sure buyers have a great experience when they buy from you, we've put in place some rules and guidelines for listing items on AMP.</h5>
                <br>
                <h5>Find out everything you need to know about what's allowed in listings, as well as information on how to have an easier and more successful selling experience, in our detailed policy guidelines below.</h5>
                <br>
                <h3>Frequently Asked Questions</h3>
                <br>
                <div id="accordion" role="tablist">
                    <div class="card card_bottom">
                      <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                          <a class="faq_headding collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h4>1. I'm not sure whether the item I'm selling is allowed on AMP. Where can I learn more?</h4>
                          </a>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">
                            <ul class="faq_ul">
                                <li>There are some items that, due to legal restrictions or AMP rules, we don't allow or that can only be listed under certain conditions. If you're not sure whether your item is allowed, our <u>Prohibited and restricted items policy</u> has more details on what you can and can't sell.</li>
                              </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card card_bottom">
                      <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                          <a class="faq_headding collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <h4 class="faq_h4">2. Why was my listing removed?</h4>
                          </a>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body">
                            <ul class="faq_ul">
                                <li>To keep AMP a safe place, sometimes we remove listings that violate our policies. If we remove your listing, we'll send you an email to your Messages and to your registered email address explaining why.</li>
                              </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card card_bottom">
                      <div class="card-header" role="tab" id="headingThree">
                        <h5 class="mb-0">
                          <a class="faq_headding collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <h4 class="faq_h4">3. I can't find my listings on the site. What's happened?</h4>
                          </a>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-body">
                            <ul class="faq_ul">
                                <li>If you can't find your listings they may have been removed if they violated one of our policies. However, if you haven't received an email from us about removing your listings, it's possible they're just not ranking high up in search results.</li>
                                <li>To help improve your search ranking, be as descriptive as possible when you create your listings. Write a clear title and description, list your item in the right category, and fill out all item specifics suggested for your item.</li>
                                <h5 class="mt-3">Images and text policy</h5>
                                <li>To make sure you're giving potential buyers an accurate representation of your items, and that you're not infringing on anyone else's content rights, you should write your own descriptions and use your own images.</li>
                                <li>All listings on AMP have to offer a physical item or a tangible service. Listings that are blank, or don't offer a tangible item or service, aren't allowed because they can cause confusion for buyers and increase the risk of fraud.</li>
                                <h5 class="mt-3">Search and browse manipulation policy</h5>
                                <li>Learn why it's not allowed to manipulate AMP search and browse experience by adding popular keywords in your listings that don't have any relation to your items.</li>
                                <h5 class="mt-3">Item location misrepresentation policy</h5>
                                
                                <li>To make sure buyers have a clear understanding of all charges and delivery times, all sellers must provide clear and accurate information in their listings about where their item is located.</li>
                                <h5 class="mt-3">Warranties policy</h5>
                                <li>Offering your customers a guarantee or warranty gives them peace of mind when they buy from you, and can help give you an edge on the competition.</li>
                                <h5 class="mt-3">JavaScript policy</h5>
                                <li>Active content in listings can create a poor experience by increasing page load times and introducing security risks. That's why it's not allowed in listings on AMP.</li>
                                <h5 class="mt-3">Links policy</h5>
                                <li>Find out why we don't allow listings to contain links that direct customers to a site other than AMP.</li>
                                <h5 class="mt-3">Third-party endorsements policy</h5>
                                <li>Understand why we don't allow the use of third-party statements or logos that vouch for a seller's 'reputation' or 'trustworthiness' in AMP listings.</li>
                                <h5 class="mt-3">Duplicate listings policy</h5>
                                <li>Only one fixed price listing of an identical item can be listed at the same time, from the same seller. This is to ensure buyers see a wide variety of options from multiple sellers.</li>
                                <h5 class="mt-3">Pre-sale listings policy</h5>
                                <li>To ensure buyers aren't disappointed, our pre-sale listings policy for items like cell phones and video games outlines the requirements for this type of transaction.</li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card card_bottom">
                      <div class="card-header" role="tab" id="headingFour">
                        <h5 class="mb-0">
                          <a class="faq_headding collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              <h4 class="faq_h4">4. Was this article helpful for you?</h4>
                          </a>
                        </h5>
                      </div>
                      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="card-body">
                            <ul class="faq_ul">
                                <li>You might also be interested in:</li>
                                <h5 class="mt-3">Identity policies</h5>
                                <li>We're committed to keeping our marketplace a safe place for all our members. To help validate the identity of our buyers and sellers, we require our users to adhere to certain policies.</li>
                                <h5 class="mt-3">Rules and policies for buyers</h5>
                                <li>To help make buying on AMP a safe and enjoyable experience, we're put in place a number of policies and guidelines.</li>
                              </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </section> -->


        <!-- blog -->
        <!-- <section class="blog_mob-temsls py-5" id="blog">
          <div class="container py-xl-5 py-lg-3">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="border-0 med-blog">
                  <div class="card-body border border-top-0">
                    <div class="mb-3">
                      <h5 class="text-center blog-title card-title font-weight-bold m-0">If you Need Quick Support</h5>
                    </div>
                    <p class="text-center">90% of questions answered with in 24 hour</p>
                    <div id="wrapper">
                      <button type="button" class="btn btn-danger button_faq">Email us your Questions</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->
        <!-- //blog -->
      </div>
      
      
