<div class="faq_main cont_bg">
    <section class="product_sec">
      <!-- <div class="user_container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title heading_3"><b class="first_word">Member Behavior Policies</b></h3>
      </div> -->
      <div class="container">
        <div>
          <div class="row">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 col-xs-12">
              <h3 class="title pb-5 pt-5 heading_3 Listing_Policies">Member Behavior Policies</h3>
              <div class="listing_text">
                <p>One of the foundations of the AMP experience is the level of trust between all members of the AMP community. To maintain that trust, we expect all members to treat each other with respect.</p>
              </div>
              <div class="listing_text pt-4"> 
                <p>Our policies around member behavior are in place to protect everyone in our community, and ensure that buying and selling on AMP is an enjoyable experience for all. For more details, please see the individual policy guidelines below.</p>
              </div>
              <div class="pt-3">
                <div class="listing_text_info pt-3">
                  <p class="for_line txt_1">Unsolicited idea submissions policy</p>
                  <p class="txt_2">We're always pleased to hear from our members, but find out why we consider unsolicited suggestions, ideas or Insertion Orders to be non-confidential and non-proprietary.</p>
                </div>
                <div class="listing_text_info pt-3">
                  <p class="for_line txt_1">Inappropriate language and profanity policy</p>
                  <p class="txt_2">We have zero tolerance for members using language that we consider to be defamatory or abusive.</p>
                </div>
                <div class="listing_text_info pt-3">
                  <p class="for_line txt_1">AMP's intellectual property policy</p>
                  <p class="txt_2">Learn when and how you can use our name, logo and other intellectual property.</p>
                </div>
                <div class="listing_text_info pt-3">
                  <p class="for_line txt_1">Member-to-Member Contact Policy</p>
                  <p class="txt_2">We encourage open communication between our members through our site but we have rules in place for how contact can be made and messages can be sent.</p>
                </div>
                <div class="listing_text_info pt-3">
                  <p class="for_line txt_1">AMP's employee trading and community content policy</p>
                  <p class="txt_2">Read our rules for AMP employees who buy and sell on our site.</p>
                </div>
                <div class="listing_text_info pt-3">
                  <p class="for_line txt_1">Community content policy</p>
                  <p class="txt_2">Learn about our guidelines for how members should interact on our community boards.</p>
                </div>
                <div class="listing_text_info pt-3">
                  <p class="for_line txt_1">User Agreement</p>
                  <p class="txt_2">Our user agreement sets out the terms and conditions you agree to when you register on AMP.</p>
                </div>
                <div class="listing_text_info pt-3">
                  <p class="for_line txt_1">User privacy notice (privacy policy)</p>
                  <p class="txt_2">Learn how you and your personal information are protected on AMP.</p>
                </div>
                <div class="listing_text_info pt-3">
                  <p class="for_line txt_1">Cookie Policy</p>
                  <p class="txt_2">Our cookie notice details the information we collect through cookies, and how we use it to improve your experience on AMP.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="float-right globe_img pt-4 pb-4 pr-3 mt-4 mb-4">
      <img src="assets/images/globe_shape.svg"  width="376px" alt="globe-logo" />
  </div>
</div>
      
      
