<div class="container table-responsive" style=" margin-top: 6rem;">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
        <button type="button" class="btn btn-link back-btn" onclick="goBack()"> << Back</button>
      </div>
    </div>
  </div>
  <table class="table table-lg">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Policy</th>
        <th scope="col">Document</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>AMP User Agreement</td>
        <td>
          <a href="./assets/excelFile/AMPUserAgreement.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/1 AMP User Agreement.pdf" class="d-inline-block" target="_self" download ><i
              class="fa fa-download" aria-hidden="true"></i></a> -->
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>AMP Standard Fees Pricing</td>
        <td> 
          <!-- <a href="./assets/excelFile/AMP Standard Fees 6 1 20 Pricing.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a> -->
          <a href="./assets/excelFile/AMPStandardFeesPricing.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          
          <!-- <a href="./assets/excelFile/AMP Standard Fees 6 1 20 Pricing.pdf" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a> -->
              <!-- <a href="./assets/excelFile/AMP Standard Fees 7 15 20 Pricing.pdf" target="_self" class="d-inline-block" download><i
                class="fa fa-download" aria-hidden="true"></i></a> -->
            </td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td>AMP Listing Policies</td>
        <td> 
          <a href="./assets/excelFile/AMPListingPolicies.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/2 AMP Listing Policies.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>AMP Rules for Buyers</td>
        <td> 
          <a href="./assets/excelFile/AMPRulesforBuyers.pdf"  class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Rules for Buyers.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">5</th>
        <td>AMP Seller Performance Standards</td>
        <td> 
          <a href="./assets/excelFile/AMPSellerPerformanceStandards.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Seller Performance Standards.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">6</th>
        <td>AMP Prohibited and Restricted Items</td>
        <td> 
          <a href="./assets/excelFile/AMPProhibitedRestrictedItems.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Prohibited and Restricted Items.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">7</th>
        <td>AMP Member to Member Contact</td>
        <td> 
          <a href="./assets/excelFile/AMPMemberToMemberContact.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Member to Member Contact.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">8</th>
        <td>AMP Buy Sell Outside</td>
        <td>
          <a href="./assets/excelFile/AMPBuySellOutside.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Buy Sell Outside.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->
      </tr>

      <tr>
        <th scope="row">9</th>
        <td>AMP Contact a Seller</td>
        <td> 
          <a href="./assets/excelFile/AMPContactSeller.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Contact a Seller.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">10</th>
        <td>AMP Contacting a Buyer</td>
        <td> 
          <a href="./assets/excelFile/AMPContactBuyer.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Contacting a Buyer.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">11</th>
        <td>AMP Duplicate Listing Policy</td>
        <td> 
          <a href="./assets/excelFile/AMPDuplicateListingPolicy.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Duplicate Listing Policy.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">12</th>
        <td>AMP Member Behavior Policies</td>
        <td> 
          <a href="./assets/excelFile/AMPMemberBehaviorPolicies.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Member Behavior Policies.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <!--<tr>
        <th scope="row">13</th>
        <td>AMP Retracting a Bid</td>
        <td> 
          <a href="./assets/excelFile/AMP Rules for Buyers.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <a href="./assets/excelFile/AMP Rules for Buyers.pdf" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td>

      </tr>--> 
	  <tr>
        <th scope="row">13</th>
        <td>AMP Retracting a Bid</td>
        <td> 
          <a href="./assets/excelFile/AMPCancellingCampaignNH.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/13 AMP Cancelling a Campaign  NH.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">14</th>
        <td>AMP Report an Item</td>
        <td> 
          <a href="./assets/excelFile/AMPReportAnItem.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Report an Item.pdf" class="d-inline-block" target="_self" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">15</th>
        <td>AMP Privacy Notice</td>
        <td> 
          <a href="./assets/excelFile/AMPPrivacyNotice.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Privacy Notice.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">16</th>
        <td>AMP Feedback</td>
        <td> 
          <a href="./assets/excelFile/AMPFeedback.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Feedback.pdf" target="_self" class="d-inline-block" download><i class="fa fa-download"
              aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">17</th>
        <td>AMP Credit Application Form</td>
        <td> 
          <a href="./assets/excelFile/AMPCreditApplicationForm.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Credit Application Form.pdf" target="_self" class="d-inline-block" download><i
              class="fa fa-download" aria-hidden="true"></i></a></td> -->

      </tr>
      <tr>
        <th scope="row">18</th>
        <td>AMP Unpaid Item</td>
        <td> 
          <a href="./assets/excelFile/AMPUnpaidItem.pdf" class="d-inline-block ml-2" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!-- <a href="./assets/excelFile/AMP Unpaid Item.pdf" target="_self" class="d-inline-block" download><i class="fa fa-download"
              aria-hidden="true"></i></a></td> -->

      </tr>
    </tbody>
  </table>
</div>