<div class="faq_main cont_bg">
        <section class="product_sec">
          <!-- <div class="user_container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title heading_3"><b class="first_word">Prohibited and Restricted Items</b></h3>
          </div> -->
          <div class="container">
            <div>
              <div class="row">
                <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 col-xs-12">
                  <h3 class="title pb-5 pt-5 heading_3 Listing_Policies">Prohibited and Restricted Items</h3>
                  <div class="listing_text">
                    <p>While you can sell and purchase almost any media on AMP, maintaining the safety of our community is a responsibility we take very seriously.</p>
                  </div>
                  <div class="listing_text">
                    <p> For this reason, and to comply with local legal restrictions, some categories of products are restricted, or completely banned from being listed. Sellers will list items that can not be advertised, but ultimately they have the right to reject ads they determine to be prohibited in their best business judgment.</p>
                  </div>
                  <div class="listing_text">
                    <p>If you're not sure if an item you're intending to list is allowed or not, choose the relevant category from the list below to find out.</p>
                  </div>
                  <div class="pt-3">
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">AMP prohibited and restricted items</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Adult items policy</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Alcohol policy</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Animals and wildlife products policy</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Digitally delivered items policy</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Drugs and drug paraphernalia policy</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Embargoed goods and prohibited countries policy</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Encouraging illegal activity policy</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Hazardous, restricted, or regulated materials policy</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-xs-12">
                  <div class="frequently_asked">
                    <p>Frequently Asked Questions</p>
                  </div>
                  <div class="questions">
                    <ul>
                      <li class="question">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <p>1. I'm not sure whether the item I'm selling is allowed on
                          AMP. Where can I learn more?</p>
                      </li>
                      <li class="answ">
                        <p>If you’re not sure whether your item can be listed on AMP, check our list of prohibited and restricted items on this page.</p>
                      </li>
  
                      <li class="question">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <p>2. What if I see something that isn’t supposed to be allowed on
                          this service?</p>
                      </li>
                      <li class="answ">
                        <p>If you see a listing that violates one of our policies, report it by clicking Contact on the Home page and ask us.</p>
                      </li>
                    </ul>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </section>
        <div class="float-right globe_img pt-4 pb-4 pr-3 mt-4 mb-4">
          <img src="assets/images/globe_shape.svg"  width="376px" alt="globe-logo" />
      </div>
        <!-- <section class="pb-3" >
            <div class="user_container">
                <h5>While you can sell and purchase almost any media on AMP, maintaining the safety of our community is a responsibility we take very seriously.</h5>
                <br>
                <h5>For this reason, and to comply with local legal restrictions, some categories of products are restricted, or completely banned from being listed. Sellers will list items that can not be advertised, but ultimately they have the right to reject ads they determine to be prohibited in their best business judgment.</h5>
                <br>
                <h5>If you're not sure if an item you're intending to list is allowed or not, choose the relevant category from the list below to find out.</h5>
                <br>
                <h3>Frequently Asked Questions</h3>
                <br>
                <p style="font-size: 14px;font-weight: 700;margin-bottom: 0px;">How do I find out what items are allowed on AMP?</p>
                <p>If you're not sure whether your item can be listed on AMP, check our list of prohibited and restricted items below.</p>
                <p style="font-size: 14px;font-weight: 700;margin-bottom: 0px;">What do I do if I see an item that isn't allowed?</p>
                <p>If you see a listing that violates one of our policies, report it by clicking Contact on the Home page and ask us</p>
                <p style="font-size: 14px;font-weight: 700;margin-bottom: 0px;">AMP prohibited and restricted items</p>
                <p>Adult items policy</p>
                <p>Alcohol policy</p>
                <p>Animals and wildlife products policy</p>
                <p>Digitally delivered items policy.</p>
                <p>Drugs and drug paraphernalia policy</p>
                <p>Embargoed goods and prohibited countries policy</p>
                <p>Encouraging illegal activity policy</p>
                <p>Hazardous, restricted, or regulated materials policy</p>
                <br>
                <br>
            </div>
        </section> -->
      </div>
      
      
