<style>
	input.ng-pristine + ul#strength {
    	display:none;
	}
	ul#strength {
		display:inline;
		list-style:none;
		margin:0;
		margin-left:15px;
		margin-top: 10px;
		padding:0;
		vertical-align:2px;
	}
	.point:last {
		margin:0 !important;
	}
	.point {
		background:#DDD;
		border-radius:2px;
		display:inline-block;
		height:5px;
		margin-right:3px;
		width:30px;
	}
	.point:first-child {
		margin-left: -10px;
	}
	.infoContent{
		color: #909090 !important;
    font-weight: normal !important;
	}
	/* .col-form-label {
		color: #909090 !important;
    font-weight: normal;
	} */
	@media screen and (max-width:575px) {
		.infoContent{
			font-size: 12px !important;
		}
	}
.siginClose {
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    width: 20px;
    padding-left: 2.2px;
    background: #efefef;
    float: right;
}
.siginClose::before {
    -webkit-text-stroke: 2px #e8e8e8;
}

.rest_input{
	margin: 0px !important;
	padding: 0px !important;
}
.md-button.md-raised[disabled] {
	background-color: #9E9E9E;
	border-radius: 7px !important;
}
.md-button.md-primary.md-raised, .md-button.md-primary.md-raised:hover {
    border-radius: 7px !important;
    color: rgba(255,255,255,0.87);
    background-color: #44596D;
}

.md-button.md-primary.md-raised, .md-button.md-primary.md-raised:hover {
	color: rgba(255,255,255,0.87);
    background-color: #44596D;
}
.md-button.md-primary.md-raised:not([disabled]) {
	background-color: #9E9E9E;
	border-radius: 7px !important;
}
.md-button.md-primary.md-raised:hover {
	color: rgba(255,255,255,0.87);
    background-color: #44596D !important;
}
.reset_noticon i{
	left: 3px !important;
}
.reset_noticon p{
	padding-left: 17px;
    line-height: 22px;
    margin-bottom: 0px !important;
}



</style>
<div layout="column" layout-fill="layout-fill" style="background:rgba(0,0,0,0.85);height: 90vh;">
	<div class="container pt-3">
		<div class="row">
		  <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
			<button type="button" class="btn btn-link back-btn" onclick="goBack()"> << Back</button>
		  </div>
		</div>
	  </div>
	<div>
		<div layout="row" layout-align="center center" layout-fill="layout-fill" class="setting-page">
			<md-whiteframe layout="column" layout-align="center center" flex-xs="100" flex="35" flex-md="40" flex-sm="60"
			 class="login md-whiteframe-3dp form_width" style="margin: 5.5% 0; z-index: 9;">
				<md-content layout-fill="layout-fill" class="contbg">
					<!--<div class="d-flex justify-content-end">
						<span  ng-click="closeMdDialog()" class="pr-3 pt-3">
							<i class="fa fa-times siginClose"></i>
						</span>
					</div>-->
					<div layout="column" layout-align="center center" layout-margin="layout-margin" class="md-block reset_pswd">
						<h4 class="pb-2 header" ng-if="typeReset"> Reset Password</h4>
						<h4 class="md-block show-password rest_input pb-2 header" ng-if="!typeReset"> Change password</h4>
						<p class="infoContent mb-0">Choose a new password for your account.</p>
						<p class="infoContent mt-0">Password must include a letter and a number.</p>
					</div>

					<form name="forms.resetPasswordForm" layout-margin="layout-margin" layout-padding novalidate="novalidate">
						
						<!-- <md-input-container class="md-block show-password" ng-if="!typeReset"> -->
							<div class="md-block show-password rest_input" ng-if="!typeReset">
								<div class="form-group row mr-0 ml-0 mb-0 p-1">
									<label for="Password" class="col-12 md-body-2 user_font signin-label" ng-class="{'error_text': (forms.resetPasswordForm.password.$dirty && forms.resetPasswordForm.password.$invalid)}">Current Password</label>
								</div>
								<div class="form-group row m-0 p-0">
									<div class="col-12 show-password">
										<input ng-model="resetPwdObj.password" class="form-control form_border_signin" ng-class="{'error_border': (forms.resetPasswordForm.password.$dirty && forms.resetPasswordForm.password.$invalid)}" ng-attr-type="{{ showPassword ? 'text' : 'password' }}" name="password" minlength="8" maxlength="15" required="required" />
										<i class="fa" ng-class="showPassword ? 'fa-eye-slash' : 'fa-eye'" ng-click="togglePassword(1)"></i>
									</div>
									<div class="col-12" ng-messages="forms.resetPasswordForm.password.$dirty && forms.resetPasswordForm.password.$invalid">
										<div ng-message="required" class="errMsg">Password is required.</div>
										<div ng-message="minlength" class="errMsg">Password must have 8 characters.</div>
										<div ng-message="maxlength" class="errMsg">Password shouldn't exceed 15 characters.</div>
										<div ng-message="pattern" class="errMsg">Please enter a strong password.</div>
									</div>
								</div>
							</div>
						<!-- </md-input-container>	 -->
						<!-- <md-input-container class="md-block show-password"> -->
							<div class="md-block show-password rest_input">
								<div class="form-group row mr-0 ml-0 mb-0 p-1">
									<label for="Password" class="col-12 col-form-label md-body-2 user_font signin-label" ng-class="{'error_text': forms.resetPasswordForm.newPassword.$dirty && forms.resetPasswordForm.newPassword.$invalid}">New Password</label>
								</div>
								<div class="form-group row m-0 p-0">
									<div class="col-12 show-password">
										<input ng-model="resetPwdObj.newPassword" ng-class="{'error_border': forms.resetPasswordForm.newPassword.$dirty && forms.resetPasswordForm.newPassword.$invalid}"  id="resetPwdObj.newPassword" ng-attr-type="{{ showNewPassword ? 'text' : 'password' }}" class="form-control form_border_signin" name="newPassword" maxlength="15" required="required" />
										<!--<ul class="bars_align" id="strength" check-strength="resetPwdObj.newPassword" ng-show="isInputAvailable"></ul>-->
										<ul class="bars_align" id="strength" check-strength="resetPwdObj.newPassword"></ul>
										<i class="fa" ng-class="showNewPassword ? 'fa-eye-slash' : 'fa-eye'" ng-click="togglePassword(2)"></i>
									</div>
								
									<!-- <div class="col-12" ng-messages="forms.resetPasswordForm.newPassword.$dirty && forms.resetPasswordForm.newPassword.$invalid">
										<div ng-message="required" class="errMsg">Password is required.</div>
										<div ng-message="minlength" class="errMsg">Password must have 8 characters.</div>
										<div ng-message="maxlength" class="errMsg">Password shouldn't exceed 15 characters.</div>
										<div ng-message="pattern" class="errMsg">Please enter a strong password.</div>
									</div> -->
									<div class="col-12" ng-show="forms.resetPasswordForm.newPassword.$dirty && !isPasswordValid">
										<div class="errMsg">
											Password should be atleast 8 characters long and should contain one number,one character and one special character
										</div>
									</div>

								 </div>
							</div>
						<!-- </md-input-container> -->

						<!-- <md-input-container class="md-block show-password"> -->
							
							<div class="md-block show-password rest_input">
								<div class="form-group row mr-0 ml-0 mb-0 p-1">
									<label for="Password" class="col-12 col-form-label md-body-2 user_font signin-label" ng-class="{'error_text': forms.resetPasswordForm.confirm_password.$dirty && forms.resetPasswordForm.confirm_password.$invalid}">Confirm Password </label>
								</div>
								<div class="form-group row m-0 p-0">
									<div class="col-12 show-password">
										<input ng-model="resetPwdObj.confirmNewPassword" id="resetPwdObj.confirmNewPassword" ng-class="{'error_border': forms.resetPasswordForm.confirm_password.$dirty && forms.resetPasswordForm.confirm_password.$invalid}" class="form-control form_border_signin" ng-attr-type="{{ showConfirmPassword ? 'text' : 'password' }}" name="confirm_password" minlength="8" maxlength="15" required="required" />
										<ul id="strength" check-streng="resetPwdObj.confirmNewPassword"></ul>
										<!-- <i class="fa" ng-class="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'" ng-click="togglePassword(3)"></i> -->
									</div>
						
									<!--<div class="col-12" ng-messages="forms.resetPasswordForm.confirm_password.$dirty && forms.resetPasswordForm.confirm_password.$invalid">
										<div ng-message="required" class="errMsg">Password is required.</div>
										<div ng-message="minlength" class="errMsg">Password must have 8 characters.</div>
										<div ng-message="maxlength" class="errMsg">Password shouldn't exceed 15 characters.</div>
										<div ng-message="pattern" class="errMsg">Please enter a strong password.</div>
									</div>-->
									
								</div>
								<div class="alert alert-danger error-panel mt-3 reset_noticon" role="alert" ng-if="forms.resetPasswordForm.confirm_password.$dirty && (resetPwdObj.newPassword != resetPwdObj.confirmNewPassword)">
									<i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 10px;"></i> <p>Oops! password don't match. </p>
								</div>
						
							</div>
						<!-- </md-input-container> -->

						<div class="serverErrors" ng-show="resetPasswordErrors" style="padding-left:0 !important;">
							<ul>
								<li ng-repeat="error in resetPasswordErrors">
									{{error}}
								</li>
							</ul>
						</div> 
						<md-input-container layout-align="center center" layout-fill="layout-fill" class="registerBtn pb-4" style="padding: 15px;">
							<md-button ng-if="typeReset" type="submit" layout-fill="layout-fill" style="padding: 2px; border-radius: 6px !important; background: #44596D !important;" class="md-raised  md-primary regbn register_btn" ng-disabled="forms.resetPasswordForm.$invalid || !isPasswordValid || resetPwdObj.newPassword != resetPwdObj.confirmNewPassword" ng-click="resetPassword(chkselct)">
								<p>Reset Password</p></md-button>
							<md-button ng-if="!typeReset" type="submit" layout-fill="layout-fill" style="padding: 2px; border-radius: 6px !important; background: #44596D !important;" class="md-raised  md-primary regbn register_btn" ng-disabled="forms.resetPasswordForm.$invalid || !isPasswordValid || resetPwdObj.newPassword != resetPwdObj.confirmNewPassword" ng-click="resetPassword(chkselct)">
									<p>Change password</p></md-button>
						</md-input-container>
					</form>
				</md-content>
			</md-whiteframe>
		</div>
	</div>
</div>
<script>
    function goBack() {
      window.history.back();
    }
</script>