<div class="faq_main cont_bg">
        <section class="product_sec">
          <!-- <div class="user_container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title heading_3"><b class="first_word">Rules and Policies for Buyers</b></h3>
          </div> -->
          <div class="container">
            <div>
              <div class="row">
                <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 col-xs-12">
                  <h3 class="title pb-5 pt-5 heading_3 Listing_Policies">Rules and Policies for Buyers</h3>
                  <div class="listing_text">
                    <p>To help make buying on AMP a safe and enjoyable experience, we've put in place a number of policies and guidelines.</p>
                  </div>
                  <div class="listing_text">
                    <p>Many of these are based on local legal requirements, but others are based on our experience of what will help ensure a fair marketplace for everyone. So, before you make a counter-offer (or bid) or buy on AMP, read our policies for buyers listed below.</p>
                  </div>
                  <div class="pt-3">
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Buying practices policy</p>
                      <p class="txt_2">Learn about our expectations for buyer behavior on AMP.</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Feedback policies</p>
                      <p class="txt_2">Learn about the guidelines and policies around Feedback to ensure it's used constructively and fairly.</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Interfering with a transaction policy</p>
                      <p class="txt_2">Learn about the rules and guidelines we've established to prevent people from interfering with the completion of transactions.</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Invalid bid retraction policy</p>
                      <p class="txt_2">Read our guidelines on retracting a bid, and why we have rules in place to prevent members gaining an unfair advantage when buying an item.</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Offers to buy or sell outside of AMP</p>
                      <p class="txt_2">Learn why buyers and sellers aren't allowed to use information they've obtained on AMP to contact each other to buy or sell off AMP.</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Shill bidding policy</p>
                      <p class="txt_2">Find out what shill bidding is, and why it isn't allowed on AMP.</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Unpaid item policy</p>
                      <p class="txt_2">Learn about our rules around paying for items after a buyer has agreed to make a purchase.</p>
                    </div>
                    <div class="listing_text_info pt-3">
                      <p class="for_line txt_1">Unwelcome and malicious buying policy</p>
                      <p class="txt_2">Learn about the rules we have in place to prevent buyers from attempting to disrupt a listing.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-xs-12">
                  <div class="frequently_asked">
                    <p>Frequently Asked Questions</p>
                  </div>
                  <div class="questions">
                    <ul>
                      <li class="question">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <p>1. What rules and requirements are there for AMP buyers?</p>
                      </li>
                      <li class="answ">
                        <p>When you bid on or buy an item, you're agreeing to the rules we've put in place for our community. You can find out more details on these rules in the articles below.</p>
                      </li>
  
                      <li class="question">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <p>2. What kinds of items are listed on AMP?</p>
                      </li>
                      <li class="answ">
                        <p>Almost anything you can think of. But there are certain categories of items that we restrict. Check out our list of prohibited and restricted items.</p>
                      </li>
                    </ul>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </section>
        <div class="float-right globe_img pt-4 pb-4 pr-3 mt-4 mb-4">
          <img src="assets/images/globe_shape.svg"  width="376px" alt="globe-logo" />
      </div>
        <!-- <section class="pb-3" >
            <div class="user_container">
                <h5>To help make buying on AMP a safe and enjoyable experience, we've put in place a number of policies and guidelines.</h5>
                <br>
                <h5>Many of these are based on local legal requirements, but others are based on our experience of what will help ensure a fair marketplace for everyone. So, before you make a counter-offer (or bid) or buy on AMP, read our policies for buyers listed below.</h5>
                <br>
                <h3>Frequently Asked Questions</h3>
                <br>
                <p style="font-size: 14px;font-weight: 700;margin-bottom: 0px;">What rules and requirements are there for AMP buyers?</p>
                <p>When you bid on or buy an item, you're agreeing to the rules we've put in place for our community. You can find out more details on these rules in the articles below.</p>
                <p style="font-size: 14px;font-weight: 700;margin-bottom: 0px;">What kind of items are listed on AMP?</p>
                <p>Almost anything you can think of. But there are certain categories of items that we restrict. Check out our list of prohibited and restricted items.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Buying practices policy</p>
                <p>Learn about our expectations for buyer behavior on AMP.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Feedback policies</p>
                <p>Learn about the guidelines and policies around Feedback to ensure it's used constructively and fairly.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Interfering with a transaction policy</p>
                <p>Learn about the rules and guidelines we've established to prevent people from interfering with the completion of transactions.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Invalid bid retraction policy</p>
                <p>Read our guidelines on retracting a bid, and why we have rules in place to prevent members gaining an unfair advantage when buying an item.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Offers to buy or sell outside of AMP</p>
                <p>Learn why buyers and sellers aren't allowed to use information they've obtained on AMP to contact each other to buy or sell off AMP.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Shill bidding policy</p>
                <p>Find out what shill bidding is, and why it isn't allowed on AMP.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Unpaid item policy</p>
                <p>Learn about our rules around paying for items after a buyer has agreed to make a purchase.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Unwelcome and malicious buying policy</p>
                <p>Learn about the rules we have in place to prevent buyers from attempting to disrupt a listing.</p>
                <br>
                <br>
            </div>
        </section> -->
      </div>
      
      
